@import './fonts';
@import './variables';

body {
	font-family: 'PT Sans', sans-serif !important;
}

.error-text {
	color: red;
}

.success-text {
	color: green;
}

.bold-text {
	font-weight: bold;
}

.md-button.back {
	margin-left: 0;
	padding-left: 0;

	&:hover {
		padding-left: 16px;
	}
}

.tag {
	margin-right: 10px;
	color: #e91e63;
	font-weight: bold;
	//cursor: pointer;
	text-transform: uppercase;
	font-family: 'Ubuntu Mono', serif;
	font-size: 0.9em;
}